<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Normal</string>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Darken</string>
		<key>value</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Multiply</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lighten</string>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Screen</string>
		<key>value</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Overlay</string>
		<key>value</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Difference</string>
		<key>value</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Exclusion</string>
		<key>value</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hue</string>
		<key>value</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Saturation</string>
		<key>value</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Color</string>
		<key>value</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Luminosity</string>
		<key>value</key>
		<integer>15</integer>
	</dict>
</array>
</plist>
