<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WDBlendModeProperty</key>
	<integer>0</integer>
	<key>WDCustomSizeHeight</key>
	<integer>512</integer>
	<key>WDCustomSizeUnits</key>
	<string>Pixels</string>
	<key>WDCustomSizeWidth</key>
	<integer>512</integer>
	<key>WDDefaultShapeTool</key>
	<integer>0</integer>
	<key>WDDropboxFormatDefault</key>
	<string>SVG</string>
	<key>WDEmailFormatDefault</key>
	<string>PNG</string>
	<key>WDEraserToolSize</key>
	<integer>20</integer>
	<key>WDFillModeProperty</key>
	<integer>1</integer>
	<key>WDFontNameProperty</key>
	<string>Helvetica</string>
	<key>WDFontSizeProperty</key>
	<integer>24</integer>
	<key>WDGridSpacing</key>
	<integer>36</integer>
	<key>WDOpacityProperty</key>
	<integer>1</integer>
	<key>WDPageOrientation</key>
	<string>Portrait</string>
	<key>WDPageSize</key>
	<string>Letter</string>
	<key>WDShadowAngleProperty</key>
	<real>1.5708</real>
	<key>WDShadowOffsetProperty</key>
	<integer>10</integer>
	<key>WDShadowRadiusProperty</key>
	<integer>10</integer>
	<key>WDShadowVisibleProperty</key>
	<false/>
	<key>WDShapeToolPolygonSideCount</key>
	<integer>5</integer>
	<key>WDShapeToolRectCornerRadius</key>
	<integer>0</integer>
	<key>WDShapeToolStarInnerRadiusRatio</key>
	<real>0.5</real>
	<key>WDShapeToolStarPointCount</key>
	<integer>5</integer>
	<key>WDShapeToolSpiralDecay</key>
	<string>80</string>
	<key>WDShowGrid</key>
	<false/>
	<key>WDSnapToEdge</key>
	<false/>
	<key>WDSnapToGrid</key>
	<false/>
	<key>WDSnapToPoint</key>
	<false/>
	<key>WDStrokeCapProperty</key>
	<integer>0</integer>
	<key>WDStrokeJoinProperty</key>
	<integer>1</integer>
	<key>WDStrokeVisibleProperty</key>
	<true/>
	<key>WDStrokeWidthProperty</key>
	<integer>1</integer>
	<key>WDStartArrowProperty</key>
	<string></string>
	<key>WDEndArrowProperty</key>
	<string></string>
	<key>WDSwatchPanelModeKey</key>
	<integer>2</integer>
	<key>WDTextAlignmentProperty</key>
	<integer>0</integer>
	<key>WDUnits</key>
	<string>Inches</string>
</dict>
</plist>
