<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Height</key>
		<integer>792</integer>
		<key>Name</key>
		<string>Letter</string>
		<key>Units</key>
		<string>Inches</string>
		<key>Width</key>
		<integer>612</integer>
	</dict>
	<dict>
		<key>Height</key>
		<integer>1008</integer>
		<key>Name</key>
		<string>Legal</string>
		<key>Units</key>
		<string>Inches</string>
		<key>Width</key>
		<integer>612</integer>
	</dict>
	<dict>
		<key>Height</key>
		<integer>1224</integer>
		<key>Name</key>
		<string>Tabloid</string>
		<key>Units</key>
		<string>Inches</string>
		<key>Width</key>
		<integer>792</integer>
	</dict>
	<dict>
		<key>Height</key>
		<real>841.89</real>
		<key>Name</key>
		<string>A4</string>
		<key>Units</key>
		<string>Centimeters</string>
		<key>Width</key>
		<real>595.28</real>
	</dict>
	<dict>
		<key>Height</key>
		<real>1190.55</real>
		<key>Name</key>
		<string>A3</string>
		<key>Units</key>
		<string>Centimeters</string>
		<key>Width</key>
		<real>841.89</real>
	</dict>
	<dict>
		<key>Height</key>
		<real>708.66</real>
		<key>Name</key>
		<string>B5</string>
		<key>Units</key>
		<string>Centimeters</string>
		<key>Width</key>
		<real>498.9</real>
	</dict>
	<dict>
		<key>Height</key>
		<real>1000.63</real>
		<key>Name</key>
		<string>B4</string>
		<key>Units</key>
		<string>Centimeters</string>
		<key>Width</key>
		<real>708.66</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Custom Size</string>
		<key>Custom</key>
		<true/>
	</dict>
</array>
</plist>
