body {
	background-color: #eee;
    margin:15pt;
}

h1 {
    margin-top:1em;
}

h3 {
    margin-top:1.25em;
}

body, p, ol, ul, td {
	font-family: sans-serif;
}

div.content {
    padding:0pt 15pt 15pt 15pt;
	background-color: #fff;
    border: 1px solid #bbb;
}

img.logo {
    float:left;
    margin-top:0.3em;
    margin-right: 1em;
}

img.tool_palette {
	float:left;
	padding-right:1em;
	margin-top:-0.3em;
}

img.tool_header {
	float:left;
	padding-right:0.5em;
	margin-top:-2pt;
	margin-left:-2pt;
}

img.tool_inline {
	float:left;
	padding-right:0.5em;
}

img.color_inline {
	float:left;
	padding-right:0.5em;
    margin-top:0.25em;
}

img.undo_inline {
	float:left;
	padding-right:1.0em;
    margin-top:-0.2em;
}

div.example {
    text-align:center;
}

