<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IndianRed</key>
	<string>#cd5c5c</string>
	<key>LightCoral</key>
	<string>#f08080</string>
	<key>Salmon</key>
	<string>#fa8072</string>
	<key>DarkSalmon</key>
	<string>#e9967a</string>
	<key>LightSalmon</key>
	<string>#ffa07a</string>
	<key>Red</key>
	<string>#ff0000</string>
	<key>Crimson</key>
	<string>#dc143c</string>
	<key>FireBrick</key>
	<string>#b22222</string>
	<key>DarkRed</key>
	<string>#8b0000</string>
	<key>Pink</key>
	<string>#ffc0cb</string>
	<key>LightPink</key>
	<string>#ffb6c1</string>
	<key>HotPink</key>
	<string>#ff69b4</string>
	<key>DeepPink</key>
	<string>#ff1493</string>
	<key>MediumVioletRed</key>
	<string>#c71585</string>
	<key>PaleVioletRed</key>
	<string>#db7093</string>
	<key>Coral</key>
	<string>#ff7f50</string>
	<key>Tomato</key>
	<string>#ff6347</string>
	<key>OrangeRed</key>
	<string>#ff4500</string>
	<key>DarkOrange</key>
	<string>#ff8c00</string>
	<key>Orange</key>
	<string>#ffa500</string>
	<key>Gold</key>
	<string>#ffd700</string>
	<key>Yellow</key>
	<string>#ffff00</string>
	<key>LightYellow</key>
	<string>#ffffe0</string>
	<key>LemonChiffon</key>
	<string>#fffacd</string>
	<key>LightGoldenrodYellow</key>
	<string>#fafad2</string>
	<key>PapayaWhip</key>
	<string>#ffefd5</string>
	<key>Moccasin</key>
	<string>#ffe4b5</string>
	<key>PeachPuff</key>
	<string>#ffdab9</string>
	<key>PaleGoldenrod</key>
	<string>#eee8aa</string>
	<key>Khaki</key>
	<string>#f0e68c</string>
	<key>DarkKhaki</key>
	<string>#bdb76b</string>
	<key>Lavender</key>
	<string>#e6e6fa</string>
	<key>Thistle</key>
	<string>#d8bfd8</string>
	<key>Plum</key>
	<string>#dda0dd</string>
	<key>Violet</key>
	<string>#ee82ee</string>
	<key>Orchid</key>
	<string>#da70d6</string>
	<key>Fuchsia</key>
	<string>#ff00ff</string>
	<key>Magenta</key>
	<string>#ff00ff</string>
	<key>MediumOrchid</key>
	<string>#ba55d3</string>
	<key>MediumPurple</key>
	<string>#9370db</string>
	<key>BlueViolet</key>
	<string>#8a2be2</string>
	<key>DarkViolet</key>
	<string>#9400d3</string>
	<key>DarkOrchid</key>
	<string>#9932cc</string>
	<key>DarkMagenta</key>
	<string>#8b008b</string>
	<key>Purple</key>
	<string>#800080</string>
	<key>Indigo</key>
	<string>#4b0082</string>
	<key>DarkSlateBlue</key>
	<string>#483d8b</string>
	<key>SlateBlue</key>
	<string>#6a5acd</string>
	<key>MediumSlateBlue</key>
	<string>#7b68ee</string>
	<key>GreenYellow</key>
	<string>#adff2f</string>
	<key>Chartreuse</key>
	<string>#7fff00</string>
	<key>LawnGreen</key>
	<string>#7cfc00</string>
	<key>Lime</key>
	<string>#00ff00</string>
	<key>LimeGreen</key>
	<string>#32cd32</string>
	<key>PaleGreen</key>
	<string>#98fb98</string>
	<key>LightGreen</key>
	<string>#90ee90</string>
	<key>MediumSpringGreen</key>
	<string>#00fa9a</string>
	<key>SpringGreen</key>
	<string>#00ff7f</string>
	<key>MediumSeaGreen</key>
	<string>#3cb371</string>
	<key>SeaGreen</key>
	<string>#2e8b57</string>
	<key>ForestGreen</key>
	<string>#228b22</string>
	<key>Green</key>
	<string>#008000</string>
	<key>DarkGreen</key>
	<string>#006400</string>
	<key>YellowGreen</key>
	<string>#9acd32</string>
	<key>OliveDrab</key>
	<string>#6b8e23</string>
	<key>Olive</key>
	<string>#808000</string>
	<key>DarkOliveGreen</key>
	<string>#556b2f</string>
	<key>MediumAquamarine</key>
	<string>#66cdaa</string>
	<key>DarkSeaGreen</key>
	<string>#8fbc8f</string>
	<key>LightSeaGreen</key>
	<string>#20b2aa</string>
	<key>DarkCyan</key>
	<string>#008b8b</string>
	<key>Teal</key>
	<string>#008080</string>
	<key>Aqua</key>
	<string>#00ffff</string>
	<key>Cyan</key>
	<string>#00ffff</string>
	<key>LightCyan</key>
	<string>#e0ffff</string>
	<key>PaleTurquoise</key>
	<string>#afeeee</string>
	<key>Aquamarine</key>
	<string>#7fffd4</string>
	<key>MediumTurquoise</key>
	<string>#48d1cc</string>
	<key>DarkTurquoise</key>
	<string>#00ced1</string>
	<key>CadetBlue</key>
	<string>#5f9ea0</string>
	<key>SteelBlue</key>
	<string>#4682b4</string>
	<key>LightSteelBlue</key>
	<string>#b0c4de</string>
	<key>PowderBlue</key>
	<string>#b0e0e6</string>
	<key>LightBlue</key>
	<string>#add8e6</string>
	<key>SkyBlue</key>
	<string>#87ceeb</string>
	<key>LightSkyBlue</key>
	<string>#87cefa</string>
	<key>DeepSkyBlue</key>
	<string>#00bfff</string>
	<key>DodgerBlue</key>
	<string>#1e90ff</string>
	<key>CornflowerBlue</key>
	<string>#6495ed</string>
	<key>RoyalBlue</key>
	<string>#4169e1</string>
	<key>Blue</key>
	<string>#0000ff</string>
	<key>MediumBlue</key>
	<string>#0000cd</string>
	<key>DarkBlue</key>
	<string>#00008b</string>
	<key>Navy</key>
	<string>#000080</string>
	<key>MidnightBlue</key>
	<string>#191970</string>
	<key>Cornsilk</key>
	<string>#fff8dc</string>
	<key>BlanchedAlmond</key>
	<string>#ffebcd</string>
	<key>Bisque</key>
	<string>#ffe4c4</string>
	<key>NavajoWhite</key>
	<string>#ffdead</string>
	<key>Wheat</key>
	<string>#f5deb3</string>
	<key>Burlywood</key>
	<string>#deb887</string>
	<key>Tan</key>
	<string>#d2b48c</string>
	<key>RosyBrown</key>
	<string>#bc8f8f</string>
	<key>SandyBrown</key>
	<string>#f4a460</string>
	<key>Goldenrod</key>
	<string>#daa520</string>
	<key>DarkGoldenrod</key>
	<string>#b8860b</string>
	<key>Peru</key>
	<string>#cd853f</string>
	<key>Chocolate</key>
	<string>#d2691e</string>
	<key>SaddleBrown</key>
	<string>#8b4513</string>
	<key>Sienna</key>
	<string>#a0522d</string>
	<key>Brown</key>
	<string>#a52a2a</string>
	<key>Maroon</key>
	<string>#800000</string>
	<key>White</key>
	<string>#ffffff</string>
	<key>Snow</key>
	<string>#fffafa</string>
	<key>Honeydew</key>
	<string>#f0fff0</string>
	<key>MintCream</key>
	<string>#f5fffa</string>
	<key>Azure</key>
	<string>#f0ffff</string>
	<key>AliceBlue</key>
	<string>#f0f8ff</string>
	<key>GhostWhite</key>
	<string>#f8f8ff</string>
	<key>WhiteSmoke</key>
	<string>#f5f5f5</string>
	<key>Seashell</key>
	<string>#fff5ee</string>
	<key>Beige</key>
	<string>#f5f5dc</string>
	<key>OldLace</key>
	<string>#fdf5e6</string>
	<key>FloralWhite</key>
	<string>#fffaf0</string>
	<key>Ivory</key>
	<string>#fffff0</string>
	<key>AntiqueWhite</key>
	<string>#faebd7</string>
	<key>Linen</key>
	<string>#faf0e6</string>
	<key>LavenderBlush</key>
	<string>#fff0f5</string>
	<key>MistyRose</key>
	<string>#ffe4e1</string>
	<key>Gainsboro</key>
	<string>#dcdcdc</string>
	<key>LightGray</key>
	<string>#d3d3d3</string>
	<key>Silver</key>
	<string>#c0c0c0</string>
	<key>DarkGray</key>
	<string>#a9a9a9</string>
	<key>Gray</key>
	<string>#808080</string>
	<key>DimGray</key>
	<string>#696969</string>
	<key>LightSlateGray</key>
	<string>#778899</string>
	<key>SlateGray</key>
	<string>#708090</string>
	<key>DarkSlateGray</key>
	<string>#2f4f4f</string>
	<key>Black</key>
	<string>#000000</string>
</dict>
</plist>
